<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/stylesheets/style.css">
   <title>Document</title>
</head>
<body>

  <form action="/update/<%=user._id %>" method="post">

     <input type="text" placeholder="username"  value="<%= user.username %>" name="username">
     <input type="text" placeholder="email" value="<%= user.email %>" name="email">
     <input type="number" placeholder="Contact" value="<%= user.contact %>" name="contact">
      <button type="submit" >Submit</button>
  </form>
    
</body>
</html>