<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Stylish Form</title>
     
</head>
<body>

    <form action="/registor" method="post">
        <input type="text" placeholder="Username" name="name">
        <input type="text" placeholder="Email" name="email">
        <input type="number" placeholder="Contact" name="contact">
        <button type="submit">Submit</button>
    </form>

</body>
</html>